<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav th:replace="layout/layout :: navbar"></nav>

<div class="container">
    <div class="alert alert-secondary">
        <h3 class="text-center" th:text="${indicator.indicatorName}"></h3>
    </div>

    <form th:action="|/indicators/|">
        <div class="form-group row" th:each="parameter, iterStats : ${indicator.paramCommandList}">
            <div class="col-sm-3"></div>
            <label class="col-sm-1 col-form-label"
                   th:for="'input_' + ${iterStats.index}" th:text="${parameter.paramName}"></label>
            <input type="number" class="form-control col-sm-4" step="any"
                   th:value="${parameter.paramValue}" th:id="'input_' + ${iterStats.index}">
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>